/* Reset input styles */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  background: none;
  border: none;
  outline: none;
  height: 20px;
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 4px;
  color: #000; }

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 300px; }

input[type="number"] {
  width: 100px; }

/* Form groups */
.penny--form--group {
  margin-bottom: 15px; }

/* Error messages */
.form--error--message {
  color: #cd1314;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }

input[type="text"].form--error--field,
input[type="password"].form--error--field,
input[type="email"].form--error--field,
input[type="number"].form--error--field {
  border: 1px solid #cd1314; }

/* Radio buttons */
.form--radio {
  position: absolute;
  opacity: 0; }
  .form--radio + label {
    position: relative;
    display: inline-block;
    margin-right: 26px;
    padding-left: 15px; }
    .form--radio + label:before {
      display: block;
      width: 10px;
      height: 10px;
      background-color: lightgrey;
      border: 1px solid grey;
      border-radius: 50%;
      content: "";
      position: absolute;
      left: 0;
      top: 3px; }
  .form--radio:checked + label:after {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: blue;
    content: "";
    position: absolute;
    left: 4px;
    top: 7px; }
